
<!--
<footer>

    <div class="footer-container">
      <div class="footer-main">
        
        <div class="footer-columna">
          <h3>Dirección</h3>
          <span class="fa fa-map-marker"><p>2244 Av. Los Incas - Bolivia</p></span>
          <br>
          <span class="fa fa-phone"><p>(+51)67 37237337</p></span>
          <br>
          <span class="fa fa-envelope"><p>cosmosrn@gmail.com</p></span>
          
        </div>
        
        <div class="footer-columna">
          <h3>Sobre Nosotros</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi quae laudantium voluptatum deleniti itaque?
             Esse dicta illo voluptatem nobis repellendus? Velit veniam accusamus accusantium voluptate enim incidunt commodi aspernatur praesentium.</p>
        </div>
  
      </div>
    </div>
  
    <div class="footer-copy-redes">
      <div class="main-copy-redes">
        <div class="footer-copy">
          &copy; 2021, Todos los derechos reservados
        </div>
        <div class="footer-redes">
          <a href="https://es-la.facebook.com/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/?hl=es" class="fa fa-instagram"></a>
          <a href="https://github.com/" class="fa fa-github"></a>
        </div>
      </div>
    </div>
  
  </footer>

-->

<footer>

  <div class="container-footer-all">
    <div class="container-body">

      <div class="colum1">
        <h1>Mas informacion de la compania</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, inventore provident sed assumenda ipsa
          molestiae, suscipit nesciunt, quaerat autem rerum ullam esse natus saepe voluptate deserunt consequatur.
          Facilis, libero natus.</p>

      </div>

      <div class="colum2">

        <h1>Redes sociales</h1>

        <div class="row1">
          <img src="assets/icons/facebook_logo.png">
          <label>Siguenos en Facebook</label>
        </div>

        <div class="row1">
          <img src="assets/icons/twitter-logo.png">
          <label>Siguenos en twitter</label>
        </div>

        <div class="row1">
          <img src="assets/icons/instagram-logo.png">
          <label>Siguenos en Instagram</label>
        </div>

        <div class="row1">
          <img src="assets/icons/github-logo.png">
          <label>Github</label>
        </div>


      </div>

      <div class="colum3">
        <h1>Informacion Contacto</h1>

        <div class="row2">
          <img src="assets/icons/house.png">
          <label>Paraguay y no se que</label>
        </div>

        <div class="row2">
          <img src="assets/icons/phone.png">
          <label>+1-829-395-213</label>
        </div>

        <div class="row2">
          <img src="assets/icons/email.png">
          <label>cet30@gmail.com</label>
        </div>

      </div>


    </div>

    

  </div>

  <div class="container-footer">
    <div class="footer">
      <div class="copyright">
        © 2021 Todos los derechos Reservados | <a href="http://cet30.edu.ar/">Cet30</a>
      </div>
  
      <div class="information">
        <a href="">Informacion compania</a> | <a href="">Privacion y Politicas</a> |
        <a href="">Terminos y Condiciones</a>
      </div>
    </div>
  </div>

</footer>