
<!--
<footer>

    <div class="footer-container">
      <div class="footer-main">
        
        <div class="footer-columna">
          <h3>Dirección</h3>
          <span class="fa fa-map-marker"><p>2244 Av. Los Incas - Bolivia</p></span>
          <br>
          <span class="fa fa-phone"><p>(+51)67 37237337</p></span>
          <br>
          <span class="fa fa-envelope"><p>cosmosrn@gmail.com</p></span>
          
        </div>
        
        <div class="footer-columna">
          <h3>Sobre Nosotros</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi quae laudantium voluptatum deleniti itaque?
             Esse dicta illo voluptatem nobis repellendus? Velit veniam accusamus accusantium voluptate enim incidunt commodi aspernatur praesentium.</p>
        </div>
  
      </div>
    </div>
  
    <div class="footer-copy-redes">
      <div class="main-copy-redes">
        <div class="footer-copy">
          &copy; 2021, Todos los derechos reservados
        </div>
        <div class="footer-redes">
          <a href="https://es-la.facebook.com/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/?hl=es" class="fa fa-instagram"></a>
          <a href="https://github.com/" class="fa fa-github"></a>
        </div>
      </div>
    </div>
  
  </footer>

-->

<footer>

  <div class="container-footer-all">
    <div class="container-body">

      <div class="colum1">
        <h1 style="text-align: center;">Mas informacion sobre nosotros</h1>
        <p style="text-align: justify;">Somos estudiantes de la escuela secundaria C.E.T N°30 ubicada en Cipolletti, Rio Negro, Argentina.
        Este es un proyecto que tiene como objetivo ayudar a los comerciantes de la ciudad al brindarles una forma más cómoda atraer a sus clientes.</p>

      </div>

      <div class="colum2">

        <h1 style="text-align: center;">Redes sociales</h1>

        <div class="row1">
          <img src="assets/icons/facebook_logo.png">
          <label>Siguenos en Facebook</label>
        </div>

        <div class="row1">
          <img src="assets/icons/twitter-logo.png">
          <label>Siguenos en twitter</label>
        </div>

        <div class="row1">
          <img src="assets/icons/instagram-logo.png">
          <label>Siguenos en Instagram</label>
        </div>

        <div class="row1">
          <img src="assets/icons/github-logo.png">
          <label>Github</label>
        </div>


      </div>

      <div class="colum3">
        <h1 style="text-align: center;">Informacion Contacto</h1>

        <div class="row2">
          <img src="assets/icons/house.png">
          <label>Paraguay 1050, R8324 Cipolletti, Rio Negro</label>
        </div>

        <div class="row2">
          <img src="assets/icons/phone.png">
          <label>0299 478-3676</label>
        </div>

        <div class="row2">
          <img src="assets/icons/email.png">
          <label>cet30@gmail.com</label>
        </div>

      </div>


    </div>

    

  </div>

  <div class="container-footer">
    <div class="footer">
      <div class="copyright">
        © 2021 Todos los derechos Reservados | <a href="http://cet30.edu.ar/">Cet30</a>
      </div>
  
      <div class="information">
        <a routerLink="/nosotros">Informacion escuela</a> | <a href="">Privacion y Politicas</a> |
        <a href="">Terminos y Condiciones</a>
      </div>
    </div>
  </div>

</footer>