<div style="width: 100%;" class="container1"></div>
  <div style="width: 50%; margin: auto;">
  <h2>Actualizar</h2>
  <form (ngSubmit)="" [formGroup]="form" #f="ngForm">
    <input type="hidden" formControlName="id">

  <label for="nombre">Nombre</label>
  <input matInput placeholder="Nombre" class="form-control" type="text" formControlName="nombre">

  <label for="nombre">Descripcion</label>
  <input matInput placeholder="Descripcion" class="form-control" type="text" formControlName="descripcion">

  <label for="url">Imagen</label>
  <input matInput placeholder="url" class="form-control" type="text" formControlName="url">
  <div style="text-align: center;">
    <button style="margin-top:2%; text-align:center" class="btn btn-info" id="submit" mat-raised-button type="submit"  >Actulizar</button>
  </div>
  </form>
</div>
<button type="button" class="btn btn-secondary mt-2" (click)="volverAtrasCrud">Volver</button>