<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="inicio">
        <img src="assets/icons/icono10.ico" alt="" width="28" height="24" class="d-inline-block align-text-top">
        Big Tools</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="productos">Catalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacto">Contacto</a>
        </li>
        
        
        
      </ul>
      

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="userLogged | async as user; else btnIngresar" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{user.email}}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" routerLink="crud">Crud</a></li>
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Salir</a></li>
          
        </ul>
    </li>

    

    <ng-template #btnIngresar>
        <button class="btn btn-primary" routerLink="login">Ingresar</button>
    </ng-template>
    </div>
    
    
  </div>
  
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>