

<div class="container1">
    
    <img class="imagen1" src="assets/images/contacto.jpg">
    <div class="centrar1">
        <h2>Contactenos</h2>
        <h5>Nada nos gusta mas que hablar con nuestros clientes, crealo</h5>
    </div>
    
    
</div>

<div class="container2 justify-content-center">

    <div class="formulario p-3  justify-content-center">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre y Apellido</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese nombre y apellido">
        </div>
        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo Electronico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="formGroupSelect" class="form-label">Motivo</label>
            <select class="form-select" id="formGroupSelect" aria-label="Default select example">
                <option selected>Seleccione motivo</option>
                <option value="1">Consulta</option>
                <option value="2">Queja</option>
                <option value="3">Otro</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div style="width: 100%; text-align: center;">
        <button style="text-align: center;" type="button" class="btn btn-primary">Enviar</button>
        </div>


    </div>

    <div class="ubicacion   justify-content-center">

        <div class="otros p-2 justify-content-center">
            

            <i class="fa fa-phone"> Telefono: <a href="tel:2995931514p45"></a>2995931514</i>
            <br>
            <i class="fas fa-hashtag"> Redes sociales: 
                
                <div class="redes">
                    <a href="https://es-la.facebook.com/" class="fab fa-facebook"></a>
                    <a href="https://twitter.com/?lang=es" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/?hl=es" class="fab fa-instagram"></a>
                    <a href="https://github.com/" class="fab fa-github"></a>
                </div>
            
            </i>


        </div>

        <div class="mapa justify-content-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.7432699144097!2d-67.98784554942564!3d-38.92984507946538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses-419!2sar!4v1637424965454!5m2!1ses-419!2sar"
                width="auto" height="300"  allowfullscreen="" loading="lazy"></iframe>

        </div>

    </div>

</div>